<nav class="navbar navbar-expand-lg border-bottom bg-custom">
  <div class="container">
    <h1><a class="navbar-brand" href="#">sip&search</a></h1>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon text-primary-1"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
        <li class="nav-item border-primary-1 border-end">
          <a
            class="nav-link active text-primary-1 fs-lg-6 px-lg-7 py-lg-0 navItem"
            aria-current="page"
            href="#"
            >找酒譜</a
          >
        </li>
        <li class="nav-item border-primary-1 border-end">
          <a
            class="nav-link text-primary-1 fs-lg-6 px-lg-7 py-lg-0 navItem"
            href="#"
            >找酒吧</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-primary-1 fs-lg-6 px-lg-7 py-lg-0 navItem"
            href="#"
            >最新活動</a
          >
        </li>
      </ul>

      <button class="btn btn-outline-primary-1 px-9 py-7" type="submit">
        註冊/登入
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</nav>
