.pic1{
  width: 233px;
}
.input1{
  max-width: 520px;
  width: 520px;
  height: 84px;
}
.mb-48{
  margin-bottom: 48px;
}
.mb-16{
  margin-bottom: 218px;
}
.pic-icon{
  width: 3rem;
  height: 3rem;
}
.btn1{
  font-size: 24px;
  
}

@media (max-width: 1400px) {
  .input1{
        width: 400px;
    
  }
}


@media (max-width: 1200px) {
  .input1{
        width: 320px;
   
  }
}

@media (max-width: 992px){
.btn1{
  font-size: 16px;
  width: 84px;
}
.btn1::before{
  content: "";
  position: absolute;
  width: 980px;
  height: 200px;
  color: azure;
}

.pic-icon{
  width: 2rem;
  height: 2rem;
}

.mb-16{
  margin-bottom: 48px;
}
}

@media (max-width: 768px){
  .pic1{
    width: 74px;
  }
  .pic-icon{
    width: 1rem;
    height: 1rem;
  }
  .mb-16{
    margin-bottom: 24px;
  }
  // .input1{
  //   width: 223px;
   
  // }
}